html{
    height: 100%;
    
}
body {
    min-height: 100%;
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Inter', sans-serif;
    color: #121212;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-weight: 500;
}
a{
    color: #007bff;
    text-decoration: none;
}
a:hover{
    color: #007bff;
    text-decoration: underline;
}

.ide-icon{
    position: absolute;
    left: 0;
    font-size: 1.25rem;
    margin-bottom: 20px;
    color:#007bff;
    cursor: pointer;
}
.explorer-url{
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
/* Positioning the dark mode toggler */
.dark-mode-toggler {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1050; /* Ensures the toggler stays above most elements */
    border: 1px solid #ced4da;
    background: #fff;
    color: #121212;
}
.dark-mode .dark-mode-toggler {
    border: 1px solid #343a40;
    background: #1e1e1e;
    color: #e4e6eb;
}

/* Dark mode specific styles */
.dark-mode {
    background-color: #121212; /* Dark background */
    color: #e4e6eb; /* Bright text */
}

.dark-mode .app-box {
    background-color: #1e1e1e; /* Darker background */
    border: 1px solid #343a40; /* Darker border */
}


.dark-mode .cm-s-default .cm-keyword { color: #CC99CD; } /* Soft purple for keywords for better distinction */
.dark-mode .cm-s-default .cm-atom { color: #D6BF55; } /* Golden for atoms, standing out with warmth */
.dark-mode .cm-s-default .cm-number { color: #F08D49; } /* Soft orange for numbers, easy on the eyes */
.dark-mode .cm-s-default .cm-def { color: #6699CC; } /* Sky blue for definitions, for clarity */
.dark-mode .cm-s-default .cm-variable,
.dark-mode .cm-s-default .cm-punctuation,
.dark-mode .cm-s-default .cm-property,
.dark-mode .cm-s-default .cm-operator { color: #AAB2BF; } /* Lighter gray for variables, punctuations, properties, and operators for subtle differentiation */
.dark-mode .cm-s-default .cm-variable-2 { color: #7EC699; } /* Soft green for second-tier variables, for variety */
.dark-mode .cm-s-default .cm-variable-3,
.dark-mode .cm-s-default .cm-type { color: #67D8EF; } /* Cyan for type annotations and third-tier variables, for freshness */
.dark-mode .cm-s-default .cm-comment { color: #999; } /* Dimmed down for comments, reducing visual noise */
.dark-mode .cm-s-default .cm-string { color: #FFD479; } /* Soft yellow for strings, for warmth and visibility */
.dark-mode .cm-s-default .cm-string-2 { color: #FFD479; } /* Keeping string-2 the same as strings for consistency */
.dark-mode .cm-s-default .cm-meta { color: #555; } /* Darker gray for meta, less prominent */
.dark-mode .cm-s-default .cm-qualifier { color: #555; } /* Matching meta for qualifiers */
.dark-mode .cm-s-default .cm-builtin { color: #30A; } /* Soft blue for built-ins, distinguishable */
.dark-mode .cm-s-default .cm-bracket { color: #FFEE99; } /* Light yellow for brackets, subtle yet visible */
.dark-mode .cm-s-default .cm-tag { color: #E2777A; } /* Soft red for tags, clear and distinguishable */
.dark-mode .cm-s-default .cm-attribute { color: #E2777A; } /* Matching tags for attributes for consistency */
.dark-mode .cm-s-default .cm-hr { color: #999; } /* Grey for horizontal rules, minimal */
.dark-mode .cm-s-default .cm-link { color: #D6BF55; } /* Golden for links, standing out */
.dark-mode .cm-s-default .cm-error { color: #FF3333; } /* Bright red for errors, for immediate visibility */


.app-container {
    height: 100%;
    min-height: 100vh; /* Use viewport height to ensure full coverage */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px !important;
    padding: 20px;
}

.wrap-app{
    display: flex; max-width: 100%;width: 100%;align-self: stretch;
}

@media (max-width: 768px) {
    .wrap-app{
        flex-direction: column;
    }
}

.app-logo {
    width: 32px; /* Adjust based on your logo's size */
    height: auto;
}

.side-nav {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    width: auto;
    border: 1px solid #ced4da;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #fff;
    height: auto;
    min-width: 200px;
}
.side-nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.side-nav-item i {
    width: 32px;
    height: auto;
}

.dark-mode .side-nav {
    border: 1px solid #343a40;
    background-color: #1e1e1e;
}

.app-box {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ced4da;

}

.app-box-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: center; /* Center the title */
    align-items: center; /* Align items vertically */
    position: relative; /* Needed to position the cogwheel icon */
}

.token-title-container {
    display: flex;
    align-items: center; /* Align items vertically */
    position: relative; /* Needed to position the cogwheel icon */
    margin-top: 0px !important;
}

.token-title-container > .cogwheel-icon{
    margin-bottom: 0;
    padding-right: 4px;
}

.app-box .btn-group {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.kwarg-group{
    display: flex;
    gap: 10px;
    align-items: center;
}

.kwarg-group label{
    margin-bottom: 0;
}

.app-box button {
    width: 100%; /* Full-width buttons */
}

.online-status {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    gap: 10px;
}

.app-name, .app-description {
    text-align: center;
    width: 100%;
    max-width: 400px;
}
.app-name{
    color: unset;
    display: flex;
    gap: 10px;
    align-items: center;
}

.app-name h2{
    font-size: 1.25rem;
    margin-bottom: 0;
}
.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
}
.online-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #28a745;
}
.offline-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #dc3545;
}
.navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure it stays above other content */
    border-bottom: 1px solid #ced4da;
}
.dark-mode .navbar {
    background-color: #1e1e1e;
    border-bottom: 1px solid #343a40;
}

.dark-mode .token-list {
}
.dark-mode .token-item {
    border: 1px solid #343a40;
}
.dark-mode input, .dark-mode select, .dark-mode textarea {
    background-color: #121212;
    color: #e4e6eb;
    border: 1px solid #343a40;
}
.dark-mode input:focus, .dark-mode select:focus, .dark-mode textarea:focus {
    background-color: #121212;
    color: #e4e6eb;
}
.stamp-rate{margin-top: 10px;}
.bottom-0 {
    bottom: 0;
}

.end-0 {
    right: 0;
}

.cogwheel-icon {
    position: absolute; /* Position the icon relative to the title container */
    right: 0; /* Align it to the right */
    /* Adjust the size and padding as needed */
    font-size: 1.25rem;
    margin-bottom: 20px;
    cursor: pointer;
    color: #007bff;
}

.cogwheel-icon:hover, .ide-icon:hover {
   text-decoration: underline;
}
#local-activity{
    padding-top: 20px;
    padding-bottom: 20px;
}

#local-activity-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjusts the space between activity items */
}

.activity-item {
    display: flex;
    flex-direction: column; /* Stacks the details and actions on top of each other */
    border-radius: 5px;
    overflow: hidden; /* Ensures the content fits within the borders */
    border: 1px solid #ced4da;
}
.dark-mode .activity-item {
    border: 1px solid #343a40;
}

.activity-details, .activity-actions {
    padding: 15px;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */
    gap: 10px; /* Adjusts spacing between details and actions */
}

.activity-details > div, .activity-actions > a {
    flex: 1 1 200px; /* Allows flex items to grow and shrink but not smaller than 200px */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; /* Ensures the text is on one line and cuts off with ellipsis if too long */
}

.activity-actions {
    justify-content: flex-end; /* Aligns actions to the right */
    border-top: 1px solid #dee2e6; /* Adds a separator between details and actions */
}

.activity-actions a {
    display: flex;
    align-items: center; /* Centers the icon and text vertically */
    gap: 5px; /* Adds space between the icon and text */
}

/* Optional: Enhance visibility for clickable actions */
.activity-actions a:hover {
    text-decoration: underline;
    color: #007bff;
}

.wallet-tabs {
    display: flex;
    gap: 10px; /* Space between tabs */
    padding-top: 20px;
    justify-content: center; /* Aligns tabs to the center */
}

.wallet-tabs a {
    text-decoration: none;
    color: #007bff; /* Primary color for consistency */
    padding: 10px 20px;
    border: 1px solid transparent; /* Ensures the layout doesn't shift when border is added on hover or focus */
    border-radius: 5px 5px 0 0; /* Rounded corners at the top */
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.wallet-tabs a:hover, .wallet-tabs a:focus {

}

/* Active tab style */
.wallet-tabs a.active {
    border-color: #ced4da #ced4da transparent; /* Borders on the sides and top, transparent at the bottom */
    
    border-bottom: 1px solid #ced4da;
    border-top: 0px;
    border-left:0px;
    border-right:0px;
    margin-bottom: -1px; /* Aligns the active tab with the content box */
}


#walletAddress {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #007bff;
    display: block;
}

#walletAddress:hover {
    text-decoration: underline;
}

#yourAddressReceive {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #007bff;
    display: block;
}
#yourAddressReceive:hover {
    text-decoration: underline;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child):not(.dropdown-toggle) {
    border-top-left-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
}

.token-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.token-item:last-child {
    margin-bottom: 0;
}

.token-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.token-list-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
    text-align: center;
}


.token-item div {
    margin: 5px 0;
}

.token-name span, .token-symbol span, .token-balance span {
    font-weight: bold;
}

.token-details {
    display: flex;
    flex-direction: column;
    margin-top: 0px !important;
}

.token-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.token-actions button {
    background-color: #f4f4f4;
}

.token-actions button:hover {
    background-color: #e4e6eb;
}

.github-link {
    text-align: center;
    margin-top: 10px; /* Adjust spacing as needed */
}

.github-link a {
    color: #121212; /* Dark color for light mode */
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
}

.github-link a:hover {
    text-decoration: underline; /* Optional: highlight on hover */
}

.dark-mode .github-link a {
    color: #e4e6eb; /* Light color for dark mode */
}

.app-box-description {
    margin-bottom: 10px!important;
}