<h1 class="app-box-title">Get started</h1>
<div class="btn-group">
    <button class="btn btn-primary" id="btn-get-started-create-wallet">Create a Wallet</button>
    <button class="btn btn-secondary" id="btn-get-started-import-wallet">Import a Wallet</button>
</div>

<script>
    document.getElementById('btn-get-started-create-wallet').addEventListener('click', function() {
        changePage('create-wallet');
    });
    document.getElementById('btn-get-started-import-wallet').addEventListener('click', function() {
        changePage('import-wallet');
    });
</script>