<div class="title-container">
    <h1 class="app-box-title">IDE</h1>
</div>
<p class="app-box-description">This is the most basic form of the Xian IDE. You can use it to write and deploy smart contracts on the Xian Network. Find standardized smart contract templates <a href="https://github.com/xian-network/xian-standard-contracts" target="_blank">here</a> and docs <a href="https://github.com/xian-network/smart-contracts-docs" target="_blank">here</a>. Deployed Smart Contracts can be directly interacted with by using <a href="#" class="advanced-tx-link" id="ide-send-adv-tx">Advanced Transactions</a>.
<div class="app-box-form" style="flex-grow: 1;display: flex;flex-direction: column;">
    <div class="alert alert-danger" role="alert" id="submitContractError" style="display: none;"></div>
    <div class="alert alert-success" role="alert" id="submitContractSuccess" style="display: none;"></div>
    <div id="editor" style="flex-grow:1"></div>
    <div class="form-group">
        <label for="submitContractName">Contract Name</label>
        <input type="text" class="form-control" id="submitContractName" placeholder="Unique, beginning with 'con_'" required>
    </div>
    <div class="form-group">
        <label for="submitContractstampLimit">Stamp/GAS Limit (1 Xian = <span id="stampRate"></span> Stamps)</label>
        <input type="number" class="form-control" id="submitContractstampLimit" placeholder="Enter the stamp limit" required value="800">
    </div>
    <div id="wallet-actions" class="btn-group">
        <button class="btn btn-primary" id="btn-ide-submit-contract">Deploy Contract</button>
        <button class="btn btn-secondary" id="btn-ide-go-to-wallet" style="display:none">Back</button>
    </div>
</div>

<style>
    #editor > .CodeMirror {
        height: 100%;
        max-width: 100%;
    }
    .app-box-form .CodeMirror {
        color: #121212; /* Dark text */
            border:1px solid #ced4da;
        border-radius: 8px;
    }
    .dark-mode .app-box-form .CodeMirror{
        background-color: #121212; /* Dark background */
        color: #e4e6eb; /* Bright text */
        border:1px solid #343a40;
        border-radius: 8px;
    }
    .dark-mode .app-box-form .CodeMirror-cursor {
        border-color: #e4e6eb; /* Bright text */
    }
    #editor{
        margin-bottom: 10px;
    }
</style>
<script src="templates/page_js/ide.js"></script>