<div style="max-width: 30rem;margin:auto;display: flex; flex-direction: column; justify-content: center;height:100%">
<h1 class="app-box-title">Import a Wallet</h1>
<p class="app-box-description">To import a wallet, please enter your private key and a password. This password will be used to encrypt your private key. Make sure to remember it, as it <b>cannot be recovered</b>.</p>
<div class="app-box-form">
    <div class="alert alert-danger" role="alert" id="importWalletError" style="display: none;"></div>
    <div class="form-group">
        <label for="privateKey">Private Key</label>
        <input type="text" class="form-control" id="import_privateKey" placeholder="Enter your private key" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="import_password" placeholder="Enter a password" required>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="import_confirmPassword" placeholder="Confirm your password" required>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary" id="btn-import-wallet-import-wallet">Import Wallet</button>
        <button class="btn btn-secondary" id="btn-import-wallet-back">Back</button>
    </div>
</div>
</div>
<script src="templates/page_js/import-wallet.js"></script>