<h1 class="app-box-title">Import a Wallet</h1>
<p class="app-box-description">To import a wallet, please enter your private key and a password. This password will be used to encrypt your private key. Make sure to remember it, as it <b>cannot be recovered</b>.</p>
<div class="app-box-form">
    <div class="alert alert-danger" role="alert" id="importWalletError" style="display: none;"></div>
    <div class="form-group">
        <label for="privateKey">Private Key</label>
        <input type="text" class="form-control" id="import_privateKey" placeholder="Enter your private key" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="import_password" placeholder="Enter a password" required>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="import_confirmPassword" placeholder="Confirm your password" required>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary" id="btn-import-wallet-import-wallet">Import Wallet</button>
        <button class="btn btn-secondary" id="btn-import-wallet-back">Back</button>
    </div>
</div>
<script>
    document.getElementById('btn-import-wallet-back').addEventListener('click', function() {
        changePage('get-started');
    });
    document.getElementById('btn-import-wallet-import-wallet').addEventListener('click', function() {
        importWallet();
    });

    function inputValidation() {
        const privateKey = document.getElementById('import_privateKey');
        const password = document.getElementById('import_password');
        const confirmPassword = document.getElementById('import_confirmPassword');
        const importWalletError = document.getElementById('importWalletError');

        password.addEventListener("input", checkPasswordLength);
        confirmPassword.addEventListener("input", matchPasswords);

        function checkPasswordLength(event){
            const passwordValue = event.target.value;
            if (passwordValue.length > 0 && passwordValue.length < 6) {
                importWalletError.innerHTML = 'Password must be at least 6 characters long!';
                importWalletError.style.display = 'block';
            } else {
                importWalletError.style.display = 'none';
            }
        }

        function matchPasswords(event){
            const confirmPasswordValue = event.target.value;
            if (password.value !== confirmPasswordValue || confirmPasswordValue === '') {
                importWalletError.innerHTML = 'Passwords do not match!';
                importWalletError.style.display = 'block';
            }else {
                importWalletError.style.display = 'none';
            }
        }

        function checkPrivateKeyLength(event){
            const privateKeyValue = event.target.value;
            if (privateKeyValue.length > 0 && privateKeyValue.length < 64) {
                importWalletError.innerHTML = 'Private key must be 64 characters long!';
                importWalletError.style.display = 'block';
            } else {
                importWalletError.style.display = 'none';
            }
        }

        privateKey.addEventListener("input", checkPrivateKeyLength);

    }
    inputValidation();

    document.getElementById('import_confirmPassword').addEventListener('keyup', function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            importWallet();
        }
    });
</script>