<h1 class="app-box-title">On-Chain Messenger</h1>
<p class="app-box-description">Send encrypted messages to other users on the chain. Only the recipient can decrypt and read the message, no one else. Your 100% privacy is guaranteed.</p>
<div class="app-box-form" style="display: flex
;
    flex-direction: column;
    flex-grow: 1;">
    <!-- Message Inbox and Chat Box-->
    <div class="d-flex column-mobile flex-grow-1">
        <div class="messenger-inbox">
            <div class="messenger-inbox-header">
                <h5>Chat Partners</h5>
                <a href="#" class="messenger-inbox-new"><i class="fas fa-plus"></i></a>
            </div>
            <div class="messenger-inbox-body">
               
            </div>
        </div>
        <div class="messenger-chat-wrapper">
            <div style="display: none;" class="messenger-chat">
                <div class="messenger-chat-header">
                    <h5 id="address_chat">13ca9a62d10cbc28d55408e0a85d31f5c059fe3bb49316538e1d03064f3f2c8e</h5>
                </div>
                <div class="messenger-chat-body">
                    <!--
                    <div class="messenger-chat-item-me">
                        <div class="messenger-chat-item-content">
                            <p>Hey, how are you?</p>
                            <small>2021-01-01 12:00:00</small>
                        </div>
                    </div>
                    <div class="messenger-chat-item-you">
                        <div class="messenger-chat-item-content">
                            <p>Can you send me the latest code?</p>
                            <small>2021-01-01 12:00:00</small>
                        </div>
                    </div>
                    -->
                </div>
                <div class="messenger-chat-footer">
                    <input type="text" placeholder="Type a message..." id="message_input">
                    <button id="send_message">Send <span id="estimation-loading" style="display: none;">Calculating..</span>
                        <span id="estimation-result" style="display:none"><span id="tokenFee" style="display: none;"></span>(<span id="tokenFeeXian"></span> Xian)</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="templates/page_js/messenger.js"></script>