<h1 class="app-box-title">Receive</h1>
<p class="app-box-description">Receive tokens from another wallet address.</p>
<div class="app-box-form">
    <div class="alert alert-danger" role="alert" id="receiveTokenError" style="display: none;"></div>
    <div class="form-group">
        <label for="yourAddressReceive">Your Address</label>
        <span id="yourAddressReceive"></span>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary" id="receive-token-back">Back</button>
    </div>
</div>
<script src="templates/page_js/receive-token.js"></script>