<h1 class="app-box-title">Receive</h1>
<p class="app-box-description">Receive tokens from another wallet address.</p>
<div class="app-box-form">
    <div class="alert alert-danger" role="alert" id="receiveTokenError" style="display: none;"></div>
    <div class="form-group">
        <label for="yourAddressReceive">Your Address</label>
        <span id="yourAddressReceive" onclick="copyToClipboard('yourAddressReceive')"></span>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary" onclick="goToWallet()">Back</button>
    </div>
</div>