<h1 class="app-box-title">Signature Request</h1>
<p class="app-box-description">You have received a Signature request from a website.</p>
<div class="app-box-form">
    <div class="form-group">
        <label for="requestSignatureMessage">Message</label>
        <p id="requestSignatureMessage"></p>
    </div>
    
    <div class="btn-group" style="display:flex;justify-content:center;gap:.65rem;">
        <button class="btn btn-primary" id="request-signature-accept" style="justify-content: center;">
            Accept
        </button>
        <button class="btn btn-secondary" id="request-signature-reject" style="justify-content: center;">
           
            Reject
        </button>
    </div>
</div>
<script src="templates/page_js/request-signature.js"></script>