<h1 class="app-box-title">Signature Request</h1>
<p class="app-box-description">You have received a Signature request from a website.</p>
<div class="app-box-form">
    <div class="form-group">
        <label for="requestSignatureMessage">Message</label>
        <p id="requestSignatureMessage"></p>
    </div>
    
    <div class="btn-group">
        <button class="btn btn-primary" id="request-signature-accept">Accept</button>
        <button class="btn btn-secondary" id="request-signature-reject">Reject</button>
    </div>
</div>
<script src="templates/page_js/request-signature.js"></script>
