<h1 class="app-box-title">Token Add Request</h1>
<p class="app-box-description">You have received a request to add a token from a website.</p>
<div class="app-box-form">
    <div class="form-group">
        <label for="requestTokenMessage">Token Contract</label>
        <p id="requestTokenMessage"></p>
    </div>

    <div class="form-group">
        <label for="requestTokenName">Token Name</label>
        <p id="requestTokenName"></p>
    </div>

    <div class="form-group">
        <label for="requestTokenSymbol">Token Symbol</label>
        <p id="requestTokenSymbol"></p>
    </div>
    
    <div class="btn-group">
        <button class="btn btn-primary" id="request-token-accept">Accept</button>
        <button class="btn btn-secondary" id="request-token-reject">Reject</button>
    </div>
</div>
<script src="templates/page_js/request-token.js"></script>
