<h1 class="app-box-title">Verification Request</h1>
<p class="app-box-description">You have received a Signature Verification request from a website.</p>
<div class="app-box-form">
    <div class="form-group">
        <label for="requestVerificationMessage">Message</label>
        <p id="requestVerificationMessage"></p>
        <label for="requestVerificationSignature">Signature</label>
        <p id="requestVerificationSignature"></p>
    </div>
    
    <div class="btn-group">
        <button class="btn btn-primary" id="request-verification-accept">Accept</button>
        <button class="btn btn-secondary" id="request-verification-reject">Reject</button>
    </div>
</div>
<script src="templates/page_js/request-verification.js"></script>
