<h1 class="app-box-title"><span>Send<span id="tokenName" style="display:none"></span> <span id="realTokenName" style="display:none"></span></span></h1>
<p class="app-box-description">Send tokens to another wallet address.</p>
<div class="app-box-form">
    <div class="alert alert-danger" role="alert" id="sendTokenError" style="display: none;"></div>
    <div class="alert alert-success" role="alert" id="sendTokenSuccess" style="display: none;"></div>
    <div class="form-group">
        <label for="toAddress">To Address / XNS Name</label>
        <input type="text" class="form-control" id="toAddress" placeholder="Enter the wallet address or XNS name" required>
        <div class="xns-found" style="display: none;">
            <span class="xns-found-text">XNS Found <i class="fa fa-check"></i></span>
            <span class="d-none xns-found-address" id="xnsFoundAddress"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="tokenAmount">Token Amount (max. <span id="maxTokenAmount" style="display:none;cursor:pointer;"></span>)</label>
        <input type="text" class="form-control" id="tokenAmount" placeholder="Enter the token amount" required>
    </div>
    <div class="form-group" id="tokenFeeContainer" style="display: none;"> <!-- TODO: make nicer .. -->
        <label for="tokenFee">Transaction Fee: 
            <span id="estimation-loading">Calculating..</span>
            <span id="estimation-result"><span id="tokenFee"></span> Stamps (<span id="tokenFeeXian"></span> Xian)</span>
        </label>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary" id="send-token-send-token">Send Token</button>
        <button class="btn btn-secondary" id="send-token-cancel">Cancel</button>
    </div>
</div>
<script src="templates/page_js/send-token.js"></script>
