<h1 class="app-box-title">Settings</h1>
<p class="app-box-description">Change your wallet settings.</p>
<div class="app-box-form">
    <div class="alert alert-danger" role="alert" id="settingsError" style="display: none;"></div>
    <div class="alert alert-success" role="alert" id="settingsSuccess" style="display: none;"></div>
    <div class="form-group">
        <label for="rpc_input">RPC</label>
        <input type="text" class="form-control" id="rpc_input" placeholder="Enter the RPC URL" required>
    </div>
    <div class="form-group">
        <label for="chain_id_input">Chain ID</label>
        <input type="text" class="form-control" id="chain_id_input" placeholder="Enter the chain ID" required>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary" onclick="saveSettings()">Save</button>
        <button class="btn btn-secondary" onclick="goToWallet()">Back</button>
    </div>
</div>