<h1 class="app-box-title">Settings</h1>
<p class="app-box-description">Change your wallet settings.</p>
<div class="app-box-form">
    <div class="alert alert-danger" role="alert" id="settingsError" style="display: none;"></div>
    <div class="alert alert-success" role="alert" id="settingsSuccess" style="display: none;"></div>
    <div class="form-group">
        <label for="rpc_input">RPC</label>
        <input type="text" class="form-control" id="rpc_input" placeholder="Enter the RPC URL" required>
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary" id="settings-save-settings">Save</button>
    </div>
    <div class="form-group">
        <label for="private_key_export">Private Key</label>
        <p>You can export your private key to back it up. If you lose your private key, you will lose access to your wallet and funds.</p>
        <a href="#" id="private_key_export">Export Private Key</a>
    </div>
    <div class="form-group">
        <label for="remove_wallet_export">Remove Wallet</label>
        <p>You can remove this wallet from the browser. It will not delete your wallet or funds, but you will need to import it again to access it.</p>
        <a href="#" id="remove_wallet_export">Remove this Wallet</a>
    </div>
    <div class="btn-group" style="display:none">
        <button class="btn btn-secondary" id="settings-back">Back</button>
    </div>
</div>
<script src="templates/page_js/settings.js"></script>