<h1 class="app-box-title">Overview</h1>
<p class="app-box-description">This is your Xian wallet. You can use it to send and receive tokens on the Xian Network.</p>
<div class="app-box-form">
    <div id="wallet-info">
        <span class="app-box-form-title"><b>Wallet Address:</b> <span id="walletAddress" onclick="copyToClipboard('walletAddress')"></span></span>
    </div>
    <div id="wallet-tokens" class="token-list">
        <h2 class="token-list-title">Tokens</h2>
        <div class="token-item">
            <div class="token-details">
                <div class="token-name"><span>Xian</span> (<span class="token-symbol">Xian</span>)</div>
                <div class="token-balance" id="currencyBalance">0</div>
            </div>    
            <div class="token-actions">
                <button class="btn send-btn" onclick="sendTokenScreen('Xian')"><i class="fas fa-paper-plane"></i> Send</button>
                <button class="btn receive-btn" onclick="receiveTokenScreen('Xian')"><i class="fas fa-download"></i> Receive</button>
            </div> 
        </div>
    </div>
    <div id="wallet-actions">
        <button class="btn btn-primary" onclick="lockWallet()">Lock Wallet</button>
        <button class="btn btn-secondary mt-2" onclick="removeWallet()">Remove Wallet</button>
    </div>
</div>